<header class="w-full bg-orange">
    
    {{valor}}
    <h2 class="text-sm mb-0 text-center uppercase">envio gratis <span class="capitalize">sobre</span><span>{{valor}}</span> </h2>
    <section class="flex justify-content-between p-1 bg-white">
        <div class="social-media flex justify-content-around gap-2">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="flex align-items-center gap-2">
            <i class="fa-solid fa-user"></i>
            <a href="#" class="text-xs capitalize">iniciar sesión</a>
            <a href="#" class="text-xs capitalize">registrarse</a>
        </div>
    </section>
    <section>
        <div class="flex gap-1"> 
            <img src="assets/images/pata.png" alt="catdog">
        </div>
    </section>
    
    <section class="flex justify-content-between">
          
    </section>
    
</header>