:host {
  display: block;
}

.bg-orange{
  background-color: var(--orange);
}

.bg-white{
  background-color: #fff;
}
.fa-square-facebook{
  color: blue;
}

.fa-instagram{
  color: #ed0006;
}

.fa-user{
  color: #F72C25;
}

.pata{
  width: 3rem;
}

.bg-orange-clear{
  background-color: #FFC757;
}

.show{
  display: flex !important;
}

.hide{
  display: none !important;
}

.translate{
  transform: translateX(-50%);
}