<mat-card class="custom-card">
    <img mat-card-image [src]="product.image_product" [alt]="product.name">
    <mat-card-header class="flex justify-content-center px-1 py-1">
      <mat-card-title class="text-base text-center">{{product.name}}</mat-card-title>
      <mat-card-subtitle class="text-sm">Marca: {{product.brand.name}}</mat-card-subtitle>
      <mat-card-subtitle class="text-sm">Precio: {{product.price | currency  }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="flex flex-column">
      <button class="w-full" mat-button>Info <mat-icon>more_horiz</mat-icon> </button>
      <button *ngIf="!getCantidad(product.idProduct)" mat-button class="w-full border-1 border-round-3xl" (click)="agregarProducto(product)">Agregar Producto</button>
      <ng-container *ngIf="getCantidad(product.idProduct)===1">
        <div class="border-1 border-round-3xl w-full flex align-items-center justify-content-around">
          <button (click)="disminuirProducto(product.idProduct)" mat-button><mat-icon>delete</mat-icon></button>
          <span>{{getCantidad(product.idProduct)}}</span>
          <button mat-button (click)="agregarProducto(product)"><mat-icon>add</mat-icon></button>
        </div>
      </ng-container>
      <ng-container *ngIf="getCantidad(product.idProduct)>1">
        <div class="border-1 border-round-3xl w-full flex align-items-center justify-content-around">
          <button (click)="disminuirProducto(product.idProduct)" mat-button><mat-icon>remove</mat-icon></button>
          <span>{{getCantidad(product.idProduct)}}</span>
          <button mat-button (click)="agregarProducto(product)"><mat-icon>add</mat-icon></button>
        </div>
      </ng-container>
    </mat-card-actions>
</mat-card>