<mat-dialog-content>
    <mat-toolbar><span>Shipping Price Info</span></mat-toolbar>

    <div class="example-container">

        <mat-form-field>
            <mat-label>Limit Price</mat-label>
            <input matInput [(ngModel)]="shipping.limit_price" type="number" title="Limit Price" >
        </mat-form-field>

        <mat-form-field>
            <mat-label>Base Price</mat-label>
            <input matInput [(ngModel)]="shipping.base_price" type="number" title="Base Price"  >
        </mat-form-field>

        <button mat-button [disabled]="!isFormValid()" (click)="operate()">Done</button>
        <button mat-button color="warn" (click)="close()">Cancel</button>

    </div>
</mat-dialog-content>