<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
    <input matInput  #input>
  </mat-form-field>
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
          <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef> Nombre de Usuario </th>
              <td mat-cell *matCellDef="let row"> {{row.user.name}} </td>
          </ng-container>
  
          <ng-container matColumnDef="creation_date">
              <th mat-header-cell *matHeaderCellDef> Creacion </th>
              <td mat-cell *matCellDef="let row"> {{row.creation_date | date: 'dd-MM-yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="selling_state">
            <th mat-header-cell *matHeaderCellDef> Estado de la Orden </th>
            <td mat-cell *matCellDef="let row" [ngClass]="getClassBySellingState(row.selling_state)">
              {{row.selling_state | uppercase}}
            </td>
          </ng-container>

  
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Cambiar Estado </th>
            <td mat-cell *matCellDef="let row" >
              <button mat-button matTooltip="Cambiar estado" (click)="changeState(row)" >
                <mat-icon [ngClass]="getClassBySellingState(row.selling_state)">skip_next</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
          <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>

      </table>
  </div>
  