table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 20%;
  }
  
  .center-text {
    /* text-align: center; */
    padding-left: 3rem;
  }
  