:host {
  display: block;
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

/* Contenedor de las diapositivas */
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Cada diapositiva */
.slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide h3 {
  margin-top: 10px;
}

/* Botones de navegación */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
