<footer>
    <section>
        <h4>Nosotros</h4>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </section>
    <section>
        <h4>Tienda</h4>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </section>
    <section>
        <h4>¿Como comprar?</h4>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </section>
    <section>
        <h4>Contacto</h4>
        <h5>¿Necesitas contactarnos?</h5>
        <p>Escoge el medio que más
            te acomode para resolver
            tus dudas o inconvenientes
            de tu producto.</p>
    </section>
</footer>
