<footer class="flex md:justify-content-center px-7 py-2">
    <section class="md:flex-1">
        <h4 class="text-xl">Nosotros</h4>
        <ul class="pl-0">
            <li><a class="text-base" href="">Conócenos</a></li>
            <li><a class="text-base" href="">Nuestra causa</a></li>
        </ul>
    </section>
    <section class="md:flex-1">
        <h4 class="text-xl">Tienda</h4>
        <ul class="pl-0">
            <li><a class="text-base" href="">Alianzas</a></li>
            <li><a class="text-base" href="">Servicio a Domicilio</a></li>
        </ul>
    </section>
    <section class="md:flex-1">
        <h4 class="text-xl">¿Como comprar?</h4>
        <ul class="pl-0">
            <li><a class="text-base" href="">Terminos y condiciones</a></li>
            <li><a class="text-base" href="">Póliticas de envío</a></li>
            <li><a class="text-base" href="">Políticas de devolución</a></li>
            <li><a class="text-base" href="">Póliticas de privacidad</a></li>
        </ul>
    </section>
    <section class="md:flex-1">
        <h4 class="text-xl">Contacto</h4>
        <h5 class="text-base">¿Necesitas contactarnos?</h5>
        <p class="text-base">Escoge el medio que más
            te acomode para resolver
            tus dudas o inconvenientes
            de tu producto.</p>
    </section>
</footer>
