<div class="flex justify-content-evenly align-items-center">
    <div class="img w-3">
        <img [src]="product.image_product" [alt]="product.name">
    </div>
    <div class="flex flex-column align-items-start">
        <p class="text-base mb-0">{{product.name}}</p>
        <p class="text-base mb-0">{{product.category.type==="food"? "comida": product.category.type==="accesory"? "accesorio":"higiene"}}</p>
        <p class="text-base mb-0 font-medium">Cantidad: {{product.cantidad}}</p>
    </div>
    <div class="flex flex-column justify-content-between align-items-center">
        <p>{{product.price}}</p>
        <button mat-stroked-button>Eliminar</button>
    </div>
</div>
