<section [ngStyle]="{'background-color': color}">
    <h2 class="text-base text-center"><span class="capitalize">nuestra</span> selección especial</h2>
    <p class="font-bold	text-center"><span class="capitalize">de</span> las mejores marcas</p>
    <div class="flex gap-3 align-items-center justify-content-center flex-wrap">
        <div class="img-container"><img src="./josera.png" alt=""></div>
        <div class="img-container"><img src="./bravery.png" alt=""></div>
        <div class="img-container"><img src="./acana.png" alt=""></div>
        <div class="img-container"><img src="./royal_canin.png" alt=""></div>
        <div class="img-container"><img src="./america_litter.png" alt=""></div>
        <div class="img-container"><img src="./fit_formula.png" alt=""></div>
        <div class="img-container"><img src="./brit.png" alt=""></div>
        <div class="img-container"><img src="./proplan.png" alt=""></div>
    </div>
</section>
