:host {
  display: block;
}

.white{
  background-color: #fff;
}

.border-red{
  border: 1px solid var(--orange);
}

.background-none{
  background-color: transparent;
}

.orange{
  background-color: var(--orange);
}
