/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 62.5%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --green: #a9e5bb;
  --yellow: #fcf6b1;
  --orange: #f7b32b;
  --red: #f72c25;
  --purple: #2d1e2f;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}
